<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BBLJ TOTP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
        href="/statics/libs/material-components-web/unpkg.com_material-components-web@14.0.0_dist_material-components-web.min.css"
        rel="stylesheet">
    <script
        src="/statics/libs/material-components-web/unpkg.com_material-components-web@14.0.0_dist_material-components-web.min.js"></script>
    <link rel="stylesheet" href="/statics/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="apple-touch-icon" sizes="180x180" href="/statics/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/statics/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/statics/favicon-16x16.png">
    <link rel="manifest" href="/statics/site.webmanifest">
    <link rel="mask-icon" href="/statics/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/statics/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/statics/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <style>
        .mdc-text-field {
            width: calc(100% - 32px) !important;
            margin: 30px 15px 15px 15px !important;
        }

        #btnVerify {
            width: calc(100% - 32px) !important;
            height: 3.25rem;
            font-size: 1.25rem;
            margin-top: 15px;
        }
    </style>
</head>

<body>
    <header class="mdc-top-app-bar" data-mdc-auto-init="MDCTopAppBar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <a href="/">
                    <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button mdc-button"
                        aria-label="Open navigation menu">
                        <span class="mdc-button__ripple"></span>
                        arrow_back
                    </button>
                </a>
                <span class="mdc-top-app-bar__title">Verify URL</span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">

            </section>
        </div>
    </header>
    <main class="mdc-top-app-bar--fixed-adjust">
        <div class="main-wrapper">
            <div class="break600w">
                <br />
                <br />
                <div class="instruction">
                    Verify users' TOTP with the following URL and with proper query parameters:
                </div>

                <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea mdc-text-field--no-label"
                    data-mdc-auto-init="MDCTextField">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <span class="mdc-text-field__resizer">
                        <textarea name="URL" class="mdc-text-field__input" rows="2" cols="20" aria-label="Label"
                            aria-labelledby="lblURL" readonly></textarea>
                    </span>
                </label>

                <div class="btn-wrapper">
                    <div class="mdc-touch-target-wrapper">
                        <button id="btnVerify" class="mdc-button mdc-button--raised" onclick="copyUrl()">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">Copy URL</span>
                        </button>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </main>
    <script>
        window.addEventListener("DOMContentLoaded", function () {
            mdcAutoInit();
            generateVerifyUrl();
        });
        function mdcAutoInit() {
            mdc.autoInit();
        }
        function generateVerifyUrl() {
            let domain = window.location.hostname;
            let port = window.location.port;
            if (port && port != "80") {
                domain += ":" + port;
            }
            /** @type {HTMLTextAreaElement} */
            let txtURL = document.querySelector("textarea[name='URL']");
            txtURL.value = `https://${domain}/verify?secret=\${secret}&totp=\${6-digits-passcode}`;
        }
        function copyUrl() {
            /** @type {HTMLTextAreaElement} */
            let txtURL = document.querySelector("textarea[name='URL']");
            const listener = function (ev) {
                ev.preventDefault();
                ev.clipboardData.setData('text/html', txtURL.value);
                ev.clipboardData.setData('text/plain', txtURL.value);
            };
            document.addEventListener('copy', listener);
            document.execCommand('copy');
            document.removeEventListener('copy', listener);
        }
    </script>
</body>

</html>